-var lightbox = true ;
doctype html
html(lang="en")
  include ../components/mixinfiles
  +headerfile("Theme Class")
  body

    +header

    .themebody-wrap

      // breadcrumb start
      +codexbreadcrumb('Helper Class','theme class')
      // breadcrumb end

      // theme body start
      .theme-body
        .custom-container
          .row         
            .col-md-6 
              .card
                .card-header 
                  h4 background color
                .card-body
                  ul.cdxclass-exa
                    li
                      | .bg-primary
                    li
                      | .bg-secondary
                    li
                      | .bg-success
                    li
                      | .bg-info
                    li
                      | .bg-warning
                    li
                      | .bg-info
                    li
                      | .bg-danger
                    li
                      | .bg-light
                    li
                      | .bg-dark
            .col-md-6 
              .card
                .card-header 
                  h4 text color
                .card-body
                  ul.cdxclass-exa
                    li
                      | .text-primary
                    li
                      | .text-secondary
                    li
                      | .text-success
                    li
                      | .text-info
                    li
                      | .text-warning
                    li
                      | .text-info
                    li
                      | .text-danger
                    li
                      | .text-light
                    li
                      | .text-dark
            .col-md-6 
              .card
                .card-header 
                  h4 button
                .card-body
                  ul.cdxclass-exa
                    li
                      | .btn.btn-primary
                    li
                      | .btn.btn-secondary
                    li
                      | .btn.btn-success
                    li
                      | .btn.btn-info
                    li
                      | .btn.btn-warning
                    li
                      | .btn.btn-info
                    li
                      | .btn.btn-danger
                    li
                      | .btn.btn-light
                    li
                      | .btn.btn-dark
            .col-md-6 
              .card
                .card-header 
                  h4 button outline
                .card-body
                  ul.cdxclass-exa
                    li
                      | .btn.btn-outline-primary
                    li
                      | .btn.btn-outline-secondary
                    li
                      | .btn.btn-outline-success
                    li
                      | .btn.btn-outline-info
                    li
                      | .btn.btn-outline-warning
                    li
                      | .btn.btn-outline-info
                    li
                      | .btn.btn-outline-danger
                    li
                      | .btn.btn-outline-light
                    li
                      | .btn.btn-outline-dark
            .col-md-6 
              .card
                .card-header 
                  h4 alert
                .card-body
                  ul.cdxclass-exa
                    li
                      | .alert.alert-primary
                    li
                      | .alert.alert-secondary
                    li
                      | .alert.alert-success
                    li
                      | .alert.alert-info
                    li
                      | .alert.alert-warning
                    li
                      | .alert.alert-info
                    li
                      | .alert.alert-danger
                    li
                      | .alert.alert-light
                    li
                      | .alert.alert-dark
            .col-md-6 
              .card
                .card-header 
                  h4 alert outline
                .card-body
                  ul.cdxclass-exa
                    li
                      | .alert.alert-outline-primary
                    li
                      | .alert.alert-outline-secondary
                    li
                      | .alert.alert-outline-success
                    li
                      | .alert.alert-outline-info
                    li
                      | .alert.alert-outline-warning
                    li
                      | .alert.alert-outline-info
                    li
                      | .alert.alert-outline-danger
                    li
                      | .alert.alert-outline-light
                    li
                      | .alert.alert-outline-dark
            .col-md-6 
              .card
                .card-header 
                  h4 badge
                .card-body
                  ul.cdxclass-exa
                    li
                      | .badge.badge-primary
                    li
                      | .badge.badge-secondary
                    li
                      | .badge.badge-success
                    li
                      | .badge.badge-info
                    li
                      | .badge.badge-warning
                    li
                      | .badge.badge-info
                    li
                      | .badge.badge-danger
                    li
                      | .badge.badge-light
                    li
                      | .badge.badge-dark
            .col-md-6 
              .card
                .card-header 
                  h4 badge rounded
                .card-body
                  ul.cdxclass-exa
                    li
                      | .badge.badge-primary.rounded-pill
                    li
                      | .badge.badge-secondary.rounded-pill
                    li
                      | .badge.badge-success.rounded-pill
                    li
                      | .badge.badge-info.rounded-pill
                    li
                      | .badge.badge-warning.rounded-pill
                    li
                      | .badge.badge-info.rounded-pill
                    li
                      | .badge.badge-danger.rounded-pill
                    li
                      | .badge.badge-light.rounded-pill
                    li
                      | .badge.badge-dark.rounded-pill
      // theme body end
    
    // footer start 
    +footer
    // footer end

    // back to top start //
    +taptop
    // back to top end //

    +footerfile